---
layout: default
title: Blog
---

<h1>Blog.</h1>

<!-- Html Elements for Search -->
<div class="mb-3" id="search-container">
	<input class="mb-2" type="text" id="search-input" placeholder="Search...">
	<ul class="article-list" id="results-container"></ul>
</div>
	
	


{% for post in paginator.posts %}

	<div class="article-preview">

		{% capture source %}{{ post.title | replace: ' ', '-' | downcase }}{% endcapture %} 
		{% capture title %}{{ post.title }}{% endcapture %} 
		
		{% if post.image != false %}
			<a href="{{ post.url }}">
				{% include components/picture.html img=source alt=title %} 
			</a>
		{% endif %}

		<div class="title">
			<h3 class="no-anchor mb-0">
				<a href="{{ post.url }}">{{ post.title }}</a>
			</h3>
			<time>{{ post.date | date: "%b %d" }}</time>
		</div>

		<p>{{ post.description }}</p>
		
	</div>

{% endfor %}

<!-- Pagination links -->
{% include components/pagination.html %}