<!-- Comment form -->
<form id="comment-form" class="js-form form" method="post" action="{{ site.staticman_url }}">
  
  <!-- Hidden inputs -->
  <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
  <input type="hidden" name="options[parent]" value="{{ page.url | absolute_url }}">
  <input type="hidden" id="comment-replying-to-uid" name="fields[replying_to_uid]" value="">
  <input type="hidden" name="options[slug]" value="{{ page.slug }}">

  <!-- Form title -->
  <h3 class="mt-3">Add Comment 
    <small>
      <a rel="nofollow" id="cancel-comment-reply-link" href="{{ page.url | absolute_url }}#respond" style="display:none;">(cancel reply)</a>
    </small>
  </h3>

  <!-- Name & Email input -->
  <div class="form-row">
    <div class="form-group">
      <input name="fields[name]" type="text" id="comment-form-name" placeholder="Name" required>
    </div>
    <div class="form-group">
      <input name="fields[email]" type="email" id="comment-form-email" placeholder="Email">
    </div>
  </div>

  <!-- Comment input -->
  <div class="form-group">
    <textarea name="fields[message]" type="text" id="comment-form-message" placeholder="Comment (markdown accepted)" rows="10" required></textarea>
  </div>

  <!-- Honeypot input -->
  <input class="d-none" name="fields[hp]" id="hp" type="text" placeholder="Leave blank">
    
  <!-- Submit button -->
  <button class="btn" id="comment-form-submit">Submit comment</button>

</form>

<!-- Response message -->
<div id="comment-success" class="comment-success mt-3">
  <div>
    <h2 class="no-anchor">
      <svg class="check-icon" width="30px" height="30px" class="success" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-1233.000000, -901.000000)" stroke="#2AAC7B" stroke-width="6">
            <g transform="translate(1237.000000, 905.000000)" class="path circle">
              <circle class="path circle" cx="32" cy="32" r="32"></circle>
              <polyline class="path check" points="48 22.7096774 26.6484279 42.3225806 15.483871 31.5557034"></polyline>
            </g>
          </g>
        </g>
      </svg>
      Comment submitted
    </h2>
    <p>Thanks! Your comment will appear shortly. Please reload the page.</p>
  </div>
</div>