---
layout: default
---

<h1 class="page-title">{{ page.title }}</h1>

{% capture source %}{{ page.title | replace: ' ', '-' | downcase }}{% endcapture %} 
{% capture title %}{{ page.title }}{% endcapture %}

{% if page.image != false %}
	{% include components/picture.html img=source alt=title class="mb-4 featured-image" %}
{% endif %}

{% if page.description %}
<p>{{ page.description }}</p>
{% endif %}

<hr />

{{ content }}

<hr />

<h3 id="tags">Tags</h3>

<div class="tag-cloud">
	{% for tag in page.tags %}
		{% capture tag_name %}{{ tag }}{% endcapture %}
		<a href="/tag/{{ tag_name }}">{{ tag }}</a>
	{% endfor %}
</div>


{% include partials/comments.html %}